<div class="container mt-4">
    <h2>Materials</h2>
    <div class="row">
    <div class="col-md-2 mb-3">
      <input type="text" class="form-control" [(ngModel)]="filterTerm" (keyup)="filterReferenceData()"
        placeholder="Filter by Item" />
    </div>
    <div class="col-md-2 mb-3">
      <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="searchReferenceData()" placeholder="Search by Item" />
    </div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-outline-secondary mb-2" (click)="clear()">Reset</button>
      <button class="btn btn-sm btn-outline-primary mb-2" (click)="addNewRow()">Add New</button>
    </div>
    </div>
  
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Category</th>
          <th>Rate</th>
          <th>Unit</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of filteredReferenceData">
          <td>
            <span *ngIf="!row.editMode">{{ row.item }}</span>
            <input *ngIf="row.editMode" type="text" class="form-control" [(ngModel)]="row.item" />
          </td>
          <td>
            <span *ngIf="!row.editMode">{{ row.category }}</span>
            <!-- <input *ngIf="row.editMode" type="text" class="form-control" [(ngModel)]="row.category" /> -->
            <select *ngIf="row.editMode"  class="form-select" [(ngModel)]="row.category">
              <option *ngFor="let item of matCatgry" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <span *ngIf="!row.editMode">{{ row.rate }}</span>
            <input *ngIf="row.editMode" type="number" class="form-control" [(ngModel)]="row.rate" />
          </td>
          <td>
            <span *ngIf="!row.editMode">{{ row.unit }}</span>
            <!-- <input *ngIf="row.editMode" type="text" class="form-control" [(ngModel)]="row.unit" /> -->
            <select *ngIf="row.editMode"  class="form-select" [(ngModel)]="row.unit">
              <option *ngFor="let item of units" [value]="item">{{item}}</option>
            </select>
          </td>
          <td>
            <button class="btn btn-sm btn-outline-primary mb-2" *ngIf="!row.editMode && !addingNewRow"
              (click)="editRow(row)">Edit</button>
            <button class="btn btn-sm btn-outline-success mb-2" *ngIf="row.editMode"
              (click)="updateReferenceData(row._id,row)">Save</button>
            <button class="btn btn-sm btn-outline-secondary mb-2" *ngIf="row.editMode" (click)="cancelEdit(row)">Cancel</button>
            <button class="btn btn-sm btn-outline-danger mb-2" (click)="deleteReferenceData(row._id)">X</button>
          </td>
        </tr>
        <tr *ngIf="addingNewRow">
          <td>
            <input type="text" class="form-control" [(ngModel)]="newRow.item" />
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="newRow.category" />
          </td>
          <td>
            <input type="number" class="form-control" [(ngModel)]="newRow.rate" />
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="newRow.unit" />
          </td>
          <td>
            <button class="btn btn-success mb-2" (click)="createReferenceData(newRow)">Save</button>
            <button class="btn btn-secondary mb-2" (click)="cancelNewRow()">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
