<!-- Product Details Popup -->
<app-product-details-popup
  [product]="selectedProduct"
  [productFields]="productFields"
  *ngIf="isPopupOpen"
  (closeProductDetails)="closeProductDetails()">
</app-product-details-popup>
<div class="container">
  <div class="row mb-3 mt-3" >
    <div class="col-md-2 ">
      <input type="text" class="form-control" [(ngModel)]="filterTerm" (keyup)="filterProducts('name')"
        placeholder="filter by Name" />
    </div>
    <div class="col-md-2 mb-3">
      <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="filterProducts('category')" placeholder="filter by Category" />
      <!-- <select (change)="filterProducts($event)" class="form-select" >
          <option *ngFor="let item of fiberArray" [ngValue]="item">{{item?.item}}</option>
      </select> -->
    </div>
    <div class="col-md-4 mt-1">
      <button class="btn btn-sm btn-outline-secondary mb-2" (click)="clear()">Reset</button>
      <button class="btn btn-sm btn-outline-primary mb-2" (click)="openProductDetails()">Add New Product</button>
    </div>
    </div>
  <!-- <div class="mt-2">
    <button class="btn btn-sm btn-outline-primary" (click)="openProductDetails()">Add New Product</button>
  </div> -->
<table class="table">
  <thead>
    <tr>
      <ng-container *ngFor="let field of productFields">

        <th *ngIf="field.required">{{ field.label }}</th>
      </ng-container>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of filteredProducts">
      <ng-container *ngFor="let field of productFields">
        <td *ngIf="field.required">{{ product[field.name] }}</td>
      </ng-container>
      <td>
        <button class="btn btn-sm btn-outline-primary mb-1" (click)="openProductDetails(product)">View</button>
        <button class="btn btn-sm btn-outline-danger mb-1" (click)="deleteProduct(product)">X</button>
      </td>
    </tr>
  </tbody>
</table>
</div>


