.mt5p {
    margin-top: 5px;
}

.expIcn {
    display: inline-block;
    background-color: white;
    color: black;
    border: solid;
    margin-right: 10px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}