/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
//Test cmnt
//change all button style using element selector
button {
    margin-right: 10px;
}

// add margin to input type text
input[type=text] {
    margin-right: 10px;
}

input[readonly] {
    background-color:#c3bbbb6e!important;;
}